name: CI
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
permissions:
  contents: read

jobs:
  build-maven:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./custom-handlers/verifier-testbed
    steps:
      - name: Setup Maven Action
        uses: s4u/setup-maven-action@v1.19.0
        with:
          java-version: 21
          java-distribution: temurin
      - name: Build with Maven
        run: mvn -B clean verify