name: Build and Push Docker Image

on:
  push:
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Maven Action
        uses: s4u/setup-maven-action@v1.19.0
        with:
          java-version: 21
          java-distribution: temurin

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract Docker metadata
        id: metadata
        uses: docker/metadata-action@v5.8.0
        with:
          images: ${{env.REGISTRY}}/${{ github.repository }}
          tags: |
            type=semver,pattern=v{{version}}
            type=edge
            type=ref,event=branch
      - name: Build Docker image with Maven
        working-directory: ./custom-handlers/verifier-testbed
        run: |
          echo "${{ steps.metadata.outputs.tags }}" | while read -r tag; do
             mvn spring-boot:build-image -Dspring-boot.build-image.imageName=$tag -Dspring-boot.build-image.publish=true
          done